.main__product--wrapper {
    margin: 40px 0px;
    display: flex;
    @include mq('desktop'){
        flex-direction: column;
    }
    
    .images-side {
        width: 50%;
        position: relative;
        .image-360deg{
            position: absolute;
            top: 10px;
            left: 10px;
            box-shadow: 0px 0px 3px #00000040;
            border-radius: 7px;
            background-color: #fff;
            width: 64px;
            height: 64px;
        }
        @include mq('desktop'){
            width: 100%;
        }
        .main-image {
            width: 100%;
            border-radius: 5px;
        }
    }
    .details-side {
        margin:auto 10px ;
        .vendor-logo{
            margin-bottom: 20px;
        }
        .price-wrapper {
            span {
                margin-right: 10px;
                padding: 2px 10px;
            }
        }
        .sizes-avalible {
            display: flex;
            span {
                margin: 0px 5px;
                border-radius: 50%;
                border: 0.5px solid #d9d9d9;
                width: 60px;
                height: 60px;
                font-size: 10px;
                cursor: pointer;
                &.active {
                    background-color: #ececec;
                    color: #1d1d1b;
                }
            }
        }
        .avalible-colors {
            img {
                width: 80px;
                height: 80px;
                margin: 0px 10px;
                cursor: pointer;
                &.active {
                    border: 0.5px solid var(--secondary-color);
                    border-radius: 50%;
                }
            }
        }
        .actions-wrapper {
            .ant-btn {
                border-radius: 27px;
                width: 33%;
                margin-right: 10px;
                @include mq('tablet-small'){
                    width: 45%;
                }
                &:first-child {
                    span{
                        color: #fff;
                    }
                    
                }
            }
        }
        .counter-wrapper {
            background: #f5f5f5 0% 0% no-repeat padding-box;
            border: 0.5px solid #d9d9d9;
            border-radius: 24px;
            margin-bottom: 20px;
            width: 33%;
            display: flex;
            @include mq('tablet-small'){
                width: 45%;
            }
            .counter-btn {
                width: 37px;
                height: 37px;
                border-radius: 50%;
                cursor: pointer;
            }
            .product-count {
                width: calc(100% - 74px);
            }
        }
    }
}
