.product__item--wrapper {
    p{
        margin-bottom: unset;
    }
    width: 268px;
    height: 440px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.75px solid #ececec;
    border-radius: 5px;
    margin: 0px 10px;
    position: relative;
    .product-img {
        width: 250px;
        padding: 8px;
    }
    .image-360-wrapper {
        position: absolute;
        top: 15px;
        left: 15px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 1px #00000040;
        border-radius: 7px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 23px;
        }
    }
    .product-details{
        margin: 0px 5px;
    }
    .price-logo-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price-wrapper{
            .after-discount{
                span{
                    margin: 0px 10px;
                }
                .fill-primary{
                    padding: 0px 10px;
                }
            }
        }

    }
    .ratting-wrapper{
        display: flex;
        justify-content: center;
    }

}
